<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/displayCharts.js' %}"></script>

</head>
<body>

<div class="container">
        <div class="row" style="margin-top:5vh;">
            <div class="col-md-6">
                <div id="rpm-div">
                    <h1 style="text-align: center;">RPM: <span id="rpm_value">{{ rpm }}</span></h1>
                    <div class="chart-container" style="width:100%;max-height: 40vh;margin-top:-5vh;">
                        <canvas id="rpmChart" style="width: 100%;"></canvas>
                    </div>
                        <script>
                        var rpm = "{{ rpm }}"
                        var opts = {
                          angle: 0.04, // The span of the gauge arc
                          lineWidth: 0.44, // The line thickness
                          radiusScale: 0.78, // Relative radius
                          pointer: {
                            length: 0.6, // // Relative to gauge radius
                            strokeWidth: 0.035, // The thickness
                            color: '#000000' // Fill color
                          },
                          limitMax: false,     // If false, max value increases automatically if value > maxValue
                          limitMin: false,     // If true, the min value of the gauge will be fixed
                          colorStart: '#6FADCF',   // Colors
                          colorStop: '#8FC0DA',    // just experiment with them
                          strokeColor: '#E0E0E0',  // to see which ones work best for you
                          generateGradient: true,
                          highDpiSupport: true,     // High resolution support
                          staticLabels: {
                              font: "15px sans-serif",  // Specifies font
                              labels: [0,1000,2000,3000,4000,5000,6000],  // Print labels at these values
                              color: "#000000",  // Optional: Label text color
                              fractionDigits: 0  // Optional: Numerical precision. 0=round off.
                    },

                        };
                        var target = document.getElementById('rpmChart'); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = 6000; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = 1; // set animation speed (32 is default value)
                        gauge.set(rpm); // set actual value
                    </script>
                </div>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <div id="speed-div">
                    <h1 style="text-align: center;">SPEED: <span id="speed_value">{{ speed }}</span> km/h</h1>
                    <div class="chart-container" style="width:100%;max-height: 40vh;margin-top:-5vh;">
                        <canvas id="speedChart" style="width: 100%;"></canvas>
                    </div>
                    <script>
                        var speed = "{{ speed }}"
                        var opts = {
                          angle: 0.04, // The span of the gauge arc
                          lineWidth: 0.44, // The line thickness
                          radiusScale: 0.78, // Relative radius
                          pointer: {
                            length: 0.6, // // Relative to gauge radius
                            strokeWidth: 0.035, // The thickness
                            color: '#000000' // Fill color
                          },
                          limitMax: false,     // If false, max value increases automatically if value > maxValue
                          limitMin: false,     // If true, the min value of the gauge will be fixed
                          colorStart: '#6FADCF',   // Colors
                          colorStop: '#8FC0DA',    // just experiment with them
                          strokeColor: '#E0E0E0',  // to see which ones work best for you
                          generateGradient: true,
                          highDpiSupport: true,     // High resolution support
                          staticLabels: {
                              font: "15px sans-serif",  // Specifies font
                              labels: [10,30,50,70,90,110, 130, 150, 170,190,210,230,250,270,290,310],  // Print labels at these values
                              color: "#000000",  // Optional: Label text color
                              fractionDigits: 0  // Optional: Numerical precision. 0=round off.
                    },

                        };
                        var target = document.getElementById('speedChart'); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = 310; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = 1; // set animation speed (32 is default value)
                        gauge.set(speed); // set actual value
                    </script>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6" style="height: 40vh;text-align: center;display: flex;justify-content: center;align-items: center;">
                <h1>TEMPERATURA DEL MOTOR: <span id="motor_temperature">{{ motorTemperature }}</span> ºC</h1>
            </div>
            <div class="col-md-6">
                <div id="battery-div">
                    <h1 style="text-align: center; width:40vw;">BATTERY: <span id="battery_value">{{ batteryPercentage }}</span> %</h1>

                    <div class="chart-container" style="position: relative; height:10vh; width:40vw">
                        <canvas id="batteryChart"></canvas>
                    </div>
                    <script>
                        var batteryValue = "{{ batteryPercentage }}"
                        var ctx = document.getElementById("batteryChart").getContext('2d');
                        var batteryChart = new Chart(ctx, {
                          type: 'horizontalBar',
                          data: {
                            datasets: [{
                                data: [batteryValue],
                                backgroundColor: [
                                  '#8FC0DA'
                                ],
                                borderColor: [
                                  'rgb(100, 100, 100)'
                                ],
                                borderWidth: 2
                              },
                              {
                                data: [100-batteryValue],
                                backgroundColor: [
                                  'rgba(100, 100, 100,0.8)'
                                ],
                                borderColor: [
                                  'rgb(100, 100, 100)'
                                ],
                                borderWidth: 2
                              }
                            ]
                          },
                          options: {
                              animation: false,
                              legend: {
                                    display: false
                                },
                                tooltips: {
                                    enabled: false
                                },
                            scales: {
                              yAxes: [{
                                stacked: true,
                                ticks: {
                                  beginAtZero: true
                                }
                              }],
                              xAxes: [{
                                stacked: true,
                                ticks: {
                                  beginAtZero: true
                                }
                              }]

                            }
                          }
                        });
                    </script>
                </div>
            </div>
        </div>
</div>

<script>
    function refresh(){
        var url = "http://127.0.0.1:8000/display/refresh";
        $.getJSON(url,
            function(data) {
                rpm_chart(data['rpm']);
                speed_chart(data['speed']);
                battery_chart(data['batteryPercentage']);
                motor_temp_value(data['motorTemperature']);
            });

        setTimeout(refresh, 1000);
    }
    refresh();
</script>
</body>
</html>