{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/displayCharts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div style="max-height: 100%;">
<table style="width: 99%;">
    <tr>
        <td style="width: 40%;">

            <table class ="front-color"style="width: 100%;height:60vh;margin-left:10px;margin-top:10px;border:3px solid var(--hv-color);">
                <tr style="text-align:center;">
                    <td style="width: 40%;">
                        <div style="padding-top: 10px;width:100%;font-size: 2vw;font-weight: bold;">SOC</div>
                        <div class="chart-container" style="height:41vh; width: 13vw;">
                            <canvas id="soc_chart"></canvas>
                        </div>
                        <div style="width:100%;text-align:center;font-size: 3vw;font-weight: bold;margin-bottom: 10px;"><span id="soc_value">x</span>%</div>
                    </td>
                    <td style="width: 60%;">
                        <div style="margin-top: 5vh;height:50%;font-size: 4vw;padding:  10% 0;font-weight: bold;"><span id="imax_value">{{ Imax }}</span>A</div>
                        <div style="height:50%;font-size: 4vw;padding:  10% 0;font-weight: bold;"><span id="vbat_value">{{ Vbat }}</span>V</div>
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 60%;padding:0;">
        <div class="front-color" id="rmp-div" style="margin: 10px;margin-left: 20px;height:60vh;">
            <div style="height: fit-content;padding-top: 20px;">
                <div class="chart-container" style="height:30vh; width:52vw;">
                    <canvas id="rpm_chart"></canvas>
                </div>
                <div id="rpm_value" style="font-weight:bold;font-size:8vw;text-align:center;width:100%;height:8vw;line-height:8vw;">
                    {{ RPM }}
                </div>
                <div style="font-weight:bold;font-size:4vw;text-align:center;width:100%;height:4vw;line-height:4vw;">
                    RPM
                </div>
            </div>
        </div>
        </td>
    </tr>
</table>
<div id="bottom_content" style="margin-top: 10px;margin-left:10px;margin-right:10px;font-weight: bold">
    <table width="97%;"><tr>
        <td style="width: 70%;">
                <table style="width:100%;border:3px solid var(--hv-color);" border="true;">
                  <tr style="font-size: 2.5vw;">
                    <th class="front-color" >Vmincell</th>
                    <th class="front-color" >Vmaxcell</th>
                    <th class="front-color">Tmincell</th>
                    <th class="front-color" >Tmaxcell</th>
                    <th class="front-color" >Tbat</th>
                  </tr>
                  <tr style="font-size: 2.5vw;">
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="vmincell_value">{{ Vmincell }}</span> V</td>
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="vmaxvcell_value">{{ Vmaxcell }}</span> V</td>
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="tmincell_value">{{ Tmincell }}</span> ºC</td>
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="tmaxcell_value">{{ Tmaxcell }}</span> ºC</td>
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="tbat_value">{{ Tbat }}</span> ºC</td>
                    </tr>
                </table>
        </td>
        <td style="width: 30%;">
                <table style="width:100%;border:3px solid var(--hv-color);margin-left: 20px;" border="true">
                  <tr style="font-size: 2.5vw;">
                    <th class="front-color">Tengine</th>
                    <th class="front-color">Tdriver</th>
                  </tr>
                  <tr style="font-size: 2.5vw;">
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="tengine_value">{{ Tengine }}</span> ºC</td>
                    <td class="bottom_table_unit front-color"><span class="bottom_table_value" id="tdriver_value">{{ Tdriver }}</span> ºC</td>
                  </tr>
                </table>
        </td>
    </tr></table>
        </div>

</div>

<script>
    function refresh(){
        var url = "http://127.0.0.1:8000/display/refresh";
        $.getJSON(url,
            function(data) {
                rmp_chart(data['RPM']);
                soc_chart(data['SOC']);
                written_values(data);
            });

        setTimeout(refresh, 1000);
    }
    refresh();
</script>
</body>
</html>